$padding: 2rem;

.Dashboard {
	margin: {
		left: $padding * 4;
		right: $padding * 4;
		top: $padding * 4;
	}
}

.Dashboard-notes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Dashboard-Note {
	margin: $padding;
	width: 15rem;
	height: 15rem;
}