$padding: 2rem;

.Dashboard {
	margin: {
		left: $padding * 4;
		right: $padding * 4;
		top: $padding * 4;
	}
}

.Dashboard-notes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Dashboard-Note {
	margin: $padding;
	width: 100%;
}

.Dashboard-top {
	display: flex;
	flex-direction: row;
}

.Dashboard-Note-top {
	display: flex;
	flex-direction: row;
}

.Dashboard-Note-title {
	word-break: break-all;
}

.Dashboard-Note-Settings-top {
	display: flex;
	flex-direction: row;
}