$padding: 2rem;

.Dashboard {
	margin: {
		left: $padding * 4;
		right: $padding * 4;
		top: $padding * 4;
	}
}

.Dashboard-notes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Dashboard-Note {
	margin: $padding;
	width: 100%;
	height: -webkit-fill-available;
	height: -moz-available;
}

.Dashboard-top {
	display: flex;
	flex-direction: row;
}

.Dashboard-Note-top {
	display: flex;
	flex-direction: row;
}

.Dashboard-Note-title {
	word-break: break-word;
}

.Dashboard-Note-Settings-top {
	display: flex;
	flex-direction: row;
}

.Dashboard-Note-clickable {
	height: 100%;	
}

/// MEDIA QUERIES

@media only screen and (max-width: 1400px) {
	.Dashboard-notes {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1150px) {
	.Dashboard-notes {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 800px) {
	.Dashboard-notes {
		grid-template-columns: 1fr;
	}
}